{{#prettify}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header }}
  </head>
  <body>

    {{!-- Content
    ================================================ --}}
    <div class="page-wrap no-transitions" id="page-wrap">
      {{> body }}
    </div>

    {{> footer }}
  </body>
</html>
{{/prettify}}