<div class="effeckt effeckt-demo-buttons group">

  {{!-- demo metadata --}}
  <header>
    <h2> Example 2: Topcoat Buttons + Effeckt.css <a href="buttons.html">#</a> </h2>
    <span class="source">
      Source: <a href="http://lab.hakim.se/effeckt/"> Hakim El Hattab </a>
    </span>
  </header>
  
  {{!-- buttons --}}
  <div class="button-demo-wrap">
    {{> button button.expand-right }}
  </div>
  
  <div class="button-demo-wrap">
    {{> button button.expand-left }}
  </div>
  
  <div class="button-demo-wrap">
    {{> button button.expand-up }}
  </div>
  
  <div class="button-demo-wrap">
    {{> button button.expand-down }}
  </div>
  
  <div class="button-demo-wrap">
    {{> button button.slide-left }}
  </div>
  
  <div class="button-demo-wrap">
    {{> button button.slide-right }}
  </div>
  
  <div class="button-demo-wrap">
    {{> button button.slide-up }}
  </div>
  
  <div class="button-demo-wrap">
    {{> button button.slide-down }}
  </div>
  
  <div class="button-demo-wrap">
    {{> button button.zoom-out }}
  </div>
  
  <div class="button-demo-wrap">
    {{> button button.zoom-in }}
  </div>

</div>
