<span class="nav-section-title">
  Getting Started
</span>
<ul class="nav nav-pills nav-stacked">
  {{#each pages}}
    {{#is data.section "getting started"}}
      {{!> sidenav-link }}
      <li{{#is ../../page.dest this.dest}} class="active"{{/is}}><a href="{{relative ../../page.dest this.dest}}" {{> click-tracker }}>{{data.title}}</a></li>
    {{/is}}
  {{/each}}
</ul>