---
layout: component.hbs
demo:
  title: "Example 2: Topcoat Buttons + Effeckt.css"
  component: buttons
  modifier: effeckt-demo-buttons
  source:
    name: Hakim El Hattab
    url: http://lab.hakim.se/effeckt/
---
{{!-- buttons --}}
<div class="button-demo-wrap">
  {{> button button.expand-right }}
</div>

<div class="button-demo-wrap">
  {{> button button.expand-left }}
</div>

<div class="button-demo-wrap">
  {{> button button.expand-up }}
</div>

<div class="button-demo-wrap">
  {{> button button.expand-down }}
</div>

<div class="button-demo-wrap">
  {{> button button.slide-left }}
</div>

<div class="button-demo-wrap">
  {{> button button.slide-right }}
</div>

<div class="button-demo-wrap">
  {{> button button.slide-up }}
</div>

<div class="button-demo-wrap">
  {{> button button.slide-down }}
</div>

<div class="button-demo-wrap">
  {{> button button.zoom-out }}
</div>

<div class="button-demo-wrap">
  {{> button button.zoom-in }}
</div>
