<div class="effeckt effeckt-demo-buttons group">

  {{!-- demo metadata --}}

  <header>
    <h2>Example 1: Topcoat Buttons + Effeckt.css
      <a href="buttons.html">#</a>
    </h2>
    <span class="source">
      Source:
      <a href="http://lab.hakim.se/effeckt/">Hakim El Hattab</a>
    </span>
  </header>

  {{!-- button component --}}

  <div class="button-demo-wrap">
    {{> button-expand-right }}
  </div>
  <div class="button-demo-wrap">
    {{> button-expand-left }}
  </div>
  <div class="button-demo-wrap">
    {{> button-expand-up }}
  </div>
  <div class="button-demo-wrap">
    {{> button-expand-down }}
  </div>
  <div class="button-demo-wrap">
    {{> button-slide-right }}
  </div>
  <div class="button-demo-wrap">
    {{> button-slide-left }}
  </div>
  <div class="button-demo-wrap">
    {{> button-slide-up }}
  </div>
  <div class="button-demo-wrap">
    {{> button-slide-down }}
  </div>
  <div class="button-demo-wrap">
    {{> button-zoom-in }}
  </div>
  <div class="button-demo-wrap">
    {{> button-zoom-out }}
  </div>
</div>